{% extends 'base.html.twig' %}

{% block body %}



<body>
    <header>
        {% block header %}
        {% endblock %}
    </header>
    <main>
        <section class="reflet">
            <h2>R<br>e<br>f<br>l<br>e<br>t<br><br>D<br>u<br><br>L<br>o<br>t</h2>
        </section>
        <section class="left">
            <img class="img" src="../img/1.jpg">
            <div class="a_la_une">
                <h3 class="sous-titre">A la une</h3>
                <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                Duis ultrices imperdiet consequat.<br> 
                Suspendisse mattis scelerisque felis, vel fringilla nisi aliquet eu.<br>
                Nam elementum tempor ipsum id condimentum.<br>
                </p>
            </div>
        </section>
        <section class="right">
            <div class="calendrier">

            </div>
            <div class="actualités">
                <p class="actu_text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                Duis ultrices imperdiet consequat.<br> 
                
                </p>
                <img class="img" src="../img/village.jpg">
            </div>
            <div class="actualités">
                <p class="actu_text">
                
                Suspendisse mattis scelerisque felis, vel fringilla nisi aliquet eu.<br>
                Nam elementum tempor ipsum id condimentum.<br> 
                </p>
                <img class="img" src="../img/village.jpg">
            </div>
            <div class="actualités">
                <p class="actu_text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                Duis ultrices imperdiet consequat.<br> 
                
                </p>
                <img class="img" src="../img/village.jpg">
            </div>
        </section>
    </main>

</body>

<footer>
    <li>
        Conditions générales d'utilisation
    </li>
    <li>
        Langues
    </li>
    <li>
        Mentions légales
    </li>
    <li>
        Gestion des cookies
    </li>

    <div class="region">
        <img src="">
        <img src="">
    </div>
</footer>

{% endblock %}
